<resources>
    <!-- Api key and URL for Demo environment (omiting /api for immich installation to use as demo / default -->
    <string name="host_name">http://dante-acer.local:2283</string>
    <string name="api_key">SlMjCW0QFIrW3ntUW2IAWzwWZ1XxFU5fdzZ9uYBhT8</string>
    <!-- Link to remote system supporting phone authentication, see: https://github.com/giejay/Immich-Android-TV-Authentication -->
    <string name="authentication_url"></string>
</resources>
